body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-185px;
  width:150px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:198px;
  width:150px;
  height:225px;
}
#u16_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:225px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:225px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:150px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:150px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:150px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
